# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# PUBLIC FOLDER
# dependencies
/public/node_modules
/public/.pnp
public/.pnp.js

# testing
/public/coverage

# production
/public/build

# misc
/public/.DS_Store
/public/.env.local
/public/.env.development.local
/public/.env.test.local
/public/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
